In [1]:
# Initial Imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [4]:
# Load .env environment variables
load_dotenv('my.env')

True

In [5]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [6]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [7]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [15]:
# Format current date as ISO format
todaydate = pd.Timestamp("2024-03-28", tz="America/New_York").isoformat()
begindate = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()

In [10]:
# Set the tickers
tickers = ["NVDA", "GOOG", "MMM", "PG"]

In [11]:
# Set timeframe to one day ("1Day") for the Alpaca API
timeframe = "1Day"

In [16]:
# Get current closing prices for tickers
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = begindate,
    end = todaydate
).df

# Display sample data
df_portfolio

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2019-01-02 05:00:00+00:00,1045.85,1052.3200,1015.7100,29323,1016.57,1690914,1038.633069,GOOG
2019-01-03 05:00:00+00:00,1016.06,1056.9800,1014.0700,36230,1041.00,2131697,1023.155931,GOOG
2019-01-04 05:00:00+00:00,1070.71,1070.8400,1027.4179,38175,1032.59,2359140,1060.926609,GOOG
2019-01-07 05:00:00+00:00,1068.39,1073.9999,1054.7600,37361,1071.50,2194872,1066.211128,GOOG
2019-01-08 05:00:00+00:00,1076.28,1084.5600,1060.5300,28160,1076.11,2031189,1073.678880,GOOG
...,...,...,...,...,...,...,...,...
2024-03-22 04:00:00+00:00,161.66,162.4100,161.4700,65644,162.20,6393425,161.755222,PG
2024-03-25 04:00:00+00:00,160.19,161.6600,159.7300,87367,161.17,7145692,160.270983,PG
2024-03-26 04:00:00+00:00,160.55,161.1400,160.1400,69752,160.36,5842850,160.616560,PG
2024-03-27 04:00:00+00:00,162.61,162.7400,161.3400,79449,161.36,6599711,162.338397,PG
2024-03-28 04:00:00+00:00,162.25,163.1400,161.7000,75431,162.82,7191571,162.311598,PG

In [19]:
df_portfolio.to_csv('Resources/stocks_5yr_daily.csv', index=True)